<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>Recipier</string>

  <key>CFBundleExecutable</key>
  <string>recipier</string>

  <key>CFBundleIdentifier</key>
  <string>com.bendi11.reciper.www</string>

  <key>CFBundleName</key>
  <string>recipier</string>

  <key>CFBundleIconFile</key>
  <string>icon.icns</string>

  <key>CFBundleShortVersionString</key>
  <string>0.1</string>

  <key>CFBundlePackageType</key>
  <string>APPL</string>

  <key>CFBundleSignature</key>
  <string>rcpr</string>

  <key>IFMajorVersion</key>
  <integer>0</integer>

  <key>IFMinorVersion</key>
  <integer>1</integer>
</dict>
</plist>